---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Sobre mi | John Quiros"
  description="Conoce más sobre mi y mi experiencia"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Sobre mi"
        tagline="Gracias por su visita. Lea a continuación para saber más sobre mí y mis antecedentes"
      >
        <img
          width="1553"
          height="873"
          src="/assets/john.webp"
          alt="John Working"
        />
      </Hero>

      <section>
        <h2 class="section-title">Mi experiencia</h2>
        <div class="content">
          <div class="experiencieItem">
            <h3>
              Desarrollador Frontend en <a
                target="_blank"
                href="https://digitalfreses.com">Digital Freses</a
              >
            </h3>
            <b>junio 2023 - Presente</b>
            <p>
              Líder de proyectos activos, responsable de asegurar que cada
              desarrollador trabaje con las herramientas necesarias. Mi función
              es garantizar que los proyectos actuales y nuevos sean rápidos,
              seguros y altamente eficientes desde el primer momento, tanto en
              el entorno de desarrollo como en el de producción.
            </p>
          </div>
          <div class="experiencieItem">
            <h3>
              Desarrollador web en <a
                target="_blank"
                href="https://bitcode-enterprise.com/">Bitcode Enterprise</a
              >
            </h3>
            <b>febrero 2023 - junio 2023</b>
            <p>
              Mi desempeño en este cargo era la migración de sitios web que
              empleaban versiones antiguas de bases de datos y gestores de
              contenido como WordPress y Drupal. Participé activamente en la
              creación de sitios web con portales personalizados destinados a
              Sociedades Administradoras de Fondos de Inversiones
            </p>
          </div>
          <div class="experiencieItem">
            <h3>
              Desarrollador web en <a
                target="_blank"
                href="https://builtbybamboo.com/">Bamboo</a
              >
            </h3>
            <b>enero 2022 - junio 2022</b>
            <p>
              Encargado de mantener proyectos activos, optimizados y seguros. A
              cargo de la creación de soluciones web como sitios informativos y
              tiendas en línea. Utilice tecnologías como HTML, CSS, WordPress y
              JavaScript para el desarrollo frontend, así como PHP para el
              desarrollo backend junto con bases de datos, especialmente MySQL.
            </p>
          </div>
          <div class="experiencieItem">
            <h3>
              Desarrollador web en <a
                target="_blank"
                href="https://publitickets.com/">Publitickets</a
              >
            </h3>
            <b>mayo 2021 - enero 2022</b>
            <p>
              Durante mi tiempo en Publitickets, tuve la responsabilidad de
              crear un sitio web con la capacidad de vender boletos para eventos
              en línea. Este incluía funciones esenciales como la gestión de
              hora, fecha, nombre, etc., en las entradas y salidas. Facilité el
              proceso mediante la habilitación del uso de teléfonos móviles con
              cámaras para realizar la transacción, así como pistolas lectoras
              de códigos QR.
            </p>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Educación</h2>
        <div class="content">
          <p>- AWS Certified Cloud Practitioner (CLF-C02) Udemy</p>
          <p>- Desarrollo Frontend (HTML, CSS, JavaScript)</p>
          <p>- Ultimate JavaScript</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Habilidades</h2>
        <div class="content">
          <p>- Gestión del tiempo</p>
          <p>- Trabajar bajo presión</p>
          <p>-Resolución de problemas</p>
          <p>- Pensamiento estratégico</p>
          <p>- Buena capacidad de comunicación</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 3;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
  .experiencieItem p {
    margin: 15px 0px;
    text-align: justify;
  }
  .experiencieItem:nth-child(even) {
    margin-top: 40px;
  }
</style>
